/* ******************** Background Colors And Text Colors ******************** */
$black:               #000000;        /* Text Color */
$dark-grey:           #3B3D40;        /* Background Color And Text Color */
$mid-grey-3:          #5A5D64;        /* Background Color */
$mid-grey-2:          #6D7078;        /* Background Color And Text Color */
$light-grey-2:        #DDE1E3;        /* Background Color */
$light-grey-1:        #F2F3F4;        /* Background Color */
$white:               #FFFFFF;        /* Background Color And Text Color */

/* ******************** Accent Colors ******************** */
$light-green:         #77CB1F;        /* Taylor Digital LGreen */
$light-grey-3:        #CFD3D6;
$mid-grey-1:          #81858D;
$dark-green:          #589000;        /* Taylor Digital D Green */

/* ******************** Button Colors ******************** */
/* ********** Button-Primary ********** */
$conversion-default:  #E96F0B;        /* Conversion Orange */
$conversion-hover:    #BA5808;
$conversion-disabled: #EB893A;
/* ********** Button-Secondary ********** */
$secondary-default:   #0A74C7;        /* Secondary Blue */
$secondary-hover:     #06508A;
$secondary-disabled:  #388DD0;
/* ********** Button Info ********** */
$info-default: $mid-grey-3;
$info-disabled:       #BDBEC1;
/* ********** Button-Tertiary ********** */
$tertiary-default:    #0A74C7;
$tertiary-hover:      #06508A;

/* ******************** Notification Colors ******************** */
$success-green:       #4B8400;
$error-red:           #E31F2D;
$warning-gold:        #FFD364;

/* ******************** Indicator-Icon Color ******************** */
$aluminium:           #A8ABB1;